In [5]:
import pandas as pd
import numpy as np

In [6]:
#Task 1: Read the given dataset
def read_data_from_csv():
    #df =read the 'fatality.csv' file
    df = pd.read_csv('fatality.csv')
    return df

In [7]:
read_data_from_csv()

,id,incident_date,day_of_week,city,state,description,plan,citation,Unnamed
0,1,2009-06-23,tuesday,tampa,florida,Victim was inside a building bundling material...,unknown,unknown,0
1,2,2009-06-30,tuesday,conroe,texas,Victim was on a scaffold doing repairs on an a...,unknown,unknown,0
2,3,2009-07-06,monday,miami,florida,"Victim was conducting roofing work, and fell t...",unknown,unknown,0
3,4,2009-07-09,thursday,north platte,nebraska,Victim was climbing a ladder while servicing a...,unknown,unknown,0
4,5,2009-07-11,saturday,greensburg,pennsylvania,Employees were throwing away old files. They h...,unknown,unknown,0
...,...,...,...,...,...,...,...,...,...
14909,14910,2017-01-03,tuesday,cut and shoot,texas,Worker died in fall from tree.,federal,no,0
14910,14911,2017-01-03,tuesday,glendale,kentucky,Worker fatally stabbed by resident.,state,yes,0
14911,14912,2017-01-03,tuesday,la verkin,utah,Worker died after being struck by excavator co...,state,no,0
14912,14913,2017-01-03,tuesday,mount pleasant,texas,Worker died after being struck by tanker truck.,federal,yes,0
14913,14914,2017-01-02,monday,shakopee,minnesota,Worker died in fall inside grain tank.,state,yes,0

In [8]:
#Task 2: Clean the given dataset
def data_cleaning():
    df = read_data_from_csv()
    # Remove the 'Unnamed' column
    df = df.drop('Unnamed', axis=1)
    return df

In [9]:
data_cleaning()

,id,incident_date,day_of_week,city,state,description,plan,citation
0,1,2009-06-23,tuesday,tampa,florida,Victim was inside a building bundling material...,unknown,unknown
1,2,2009-06-30,tuesday,conroe,texas,Victim was on a scaffold doing repairs on an a...,unknown,unknown
2,3,2009-07-06,monday,miami,florida,"Victim was conducting roofing work, and fell t...",unknown,unknown
3,4,2009-07-09,thursday,north platte,nebraska,Victim was climbing a ladder while servicing a...,unknown,unknown
4,5,2009-07-11,saturday,greensburg,pennsylvania,Employees were throwing away old files. They h...,unknown,unknown
...,...,...,...,...,...,...,...,...
14909,14910,2017-01-03,tuesday,cut and shoot,texas,Worker died in fall from tree.,federal,no
14910,14911,2017-01-03,tuesday,glendale,kentucky,Worker fatally stabbed by resident.,state,yes
14911,14912,2017-01-03,tuesday,la verkin,utah,Worker died after being struck by excavator co...,state,no
14912,14913,2017-01-03,tuesday,mount pleasant,texas,Worker died after being struck by tanker truck.,federal,yes
14913,14914,2017-01-02,monday,shakopee,minnesota,Worker died in fall inside grain tank.,state,yes

In [10]:
#Task 3: Export the cleaned dataset to "fatalities_cleaned.csv"
def export_the_dataset():
    # do not edit the predefined function name
    df=data_cleaning()
    #write your code to export the cleaned dataset and set the index=false and return the same as 'df'
    output_file ='fatalities_cleaned.csv'
    df.to_csv(output_file, index=False)
    return df

In [11]:
export_the_dataset()

,id,incident_date,day_of_week,city,state,description,plan,citation
0,1,2009-06-23,tuesday,tampa,florida,Victim was inside a building bundling material...,unknown,unknown
1,2,2009-06-30,tuesday,conroe,texas,Victim was on a scaffold doing repairs on an a...,unknown,unknown
2,3,2009-07-06,monday,miami,florida,"Victim was conducting roofing work, and fell t...",unknown,unknown
3,4,2009-07-09,thursday,north platte,nebraska,Victim was climbing a ladder while servicing a...,unknown,unknown
4,5,2009-07-11,saturday,greensburg,pennsylvania,Employees were throwing away old files. They h...,unknown,unknown
...,...,...,...,...,...,...,...,...
14909,14910,2017-01-03,tuesday,cut and shoot,texas,Worker died in fall from tree.,federal,no
14910,14911,2017-01-03,tuesday,glendale,kentucky,Worker fatally stabbed by resident.,state,yes
14911,14912,2017-01-03,tuesday,la verkin,utah,Worker died after being struck by excavator co...,state,no
14912,14913,2017-01-03,tuesday,mount pleasant,texas,Worker died after being struck by tanker truck.,federal,yes
14913,14914,2017-01-02,monday,shakopee,minnesota,Worker died in fall inside grain tank.,state,yes

In [ ]:
#TASK 4: Load the Cleaned dataset 'fatalities_cleaned.csv' to the MySQL database